<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="wrapper">
		<div class="wrapper-big-tit">
			<h1>个人博客</h1>
		</div>
		<div class="content">
			<div class="con-tit">
				<h2>学习分类列表</h2>
			</div>
			<div class="con-list">
				<ul class="list">

				</ul>
			</div>
			<b>标题:</b>
			<div id="tit" class="add" contenteditable="true"></div>
			<b>内容:</b>
			<div id="content" class="add " contenteditable="true"></div>
			<button id="addBtn">添加</button>
		</div>
	</div>
</body>
<script src="/jquery-2.2.0.js"></script>
<script>
	$(function(){
		$.ajax({
			url:"/list",
			success:function(data){
				if(data.code){
					let dom='';
					for(let [ind,item] of data.data.entries()){
						dom+=`<li><span class="view">浏览<span class="num">${item.num}</span>次</span><a href="http://localhost:8011/content?id=${item.No}"> ${item.title}</a> </li>`
					}
					$(".list").html(dom);
					console.log(history)
				}
			}
		})
		let date = new Date()*1;
		$(".wrapper").on("click","#addBtn", function(){
			let con = $("#content").text();
			let tit = $("#tit").text();
			$.ajax({
				url:"/add",
				type:"post",
				data:{con:con,tit:tit,dates:date},
				success:function(msg){
					if(msg.code){
						location.reload();
					}
				}
			})
		})
	})
</script>
</html>